*{
    box-sizing: border-box;
    

}


#content{
   display: flex;
   flex-direction: column;
   align-items: center;
  
}



#section1{
   max-width: 399px;
   width: 100%;
   min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif; 

   
}

.logo{
    width: 5rem;
}

.header_selection{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  
}

.header_selection a{
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #07043B;
}

.image_signup{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_image{
width: 21rem;
}

.top_words_and_input{
    margin-top: 2rem;
}

.words{
    text-align: center;
    color: #07043B;
}

.words h1{
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  
}

.words p{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form input{
    width: 85%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    border: 1px solid #07043B ;
}

form button{
    width: 85%;
    padding: 1rem;
    background-color: #2F65F8;
    color: #fff;
    border: 1px solid #7c7c7c;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.5rem;
   
}

@media screen and (min-width:1024px){
    
    #section1{
        max-width: 1024px;
    }


    
    
    .image_signup{
        flex-direction: row;
    }

    .image{
        order: 5;
    }
}

